<html>
<head>
  <title>Ruby Weekly Issue 15 - November 11, 2010</title>
</head>
<body>

<style>
p { margin: 1.2em 0em 1.35em 0em; line-height: 1.4em; }
a { color: #04c; }
</style>
<table border="0" cellpadding="0" cellspacing="0" width="620" align="center"><tr bgcolor="#ffffff"><td>
<p style="border-bottom: 1px solid #ccc; padding-bottom: 8px; font-size: 1.2em"><img src="http://rubyweekly.com/logosmall.gif" alt="Ruby Weekly" width="300" height="30" style="margin-bottom: 10px" />
<br />Issue #15 - November 11, 2010</p>

<p>{{}}</p>

<p>I've also had several e-mails from people wanting to access archives of Ruby Weekly. Work is in progress to do this and hopefully there'll be a permanent "Archives" link in this newsletter from next week onward.</p>
<p><big><strong>This week's top news</strong></big></p>

    <p style="margin-left: 1.5em"><strong><big><a href="http://media.pragprog.com/newsletters/2010-11-11.html?rubyweekly">Programming Ruby (Pickaxe) Updated and On Sale</a></big></strong><br />The Pragmatic Programmers have been hard at work and have today unveiled an updated version of Programming Ruby (a.k.a. the "Pickaxe")
that covers Ruby 1.9.2. For a limited time, it's on sale too - $10 for either the paper or e-book version or $20 for both. A steal! (And I'm not even making any commission on it ;-))</p>


    <p style="margin-left: 1.5em"><strong><big><a href="http://spreecommerce.com/blog/2010/11/09/spree-0-30-0-released/">Spree 0.30.0 Released - Rails 3 Compatible E-commerce</a></big></strong><br />Spree is probably the most popular open source Rails e-commerce system and the release of 0.30.0 brings it fully up to speed with Rails 3.x after five months of tough work and refactoring.</p>


    <p style="margin-left: 1.5em"><strong><big><a href="http://blog.rubybestpractices.com/posts/gregory/028-practicing-ruby.html">Practicing Ruby: A Practical Ruby Newsletter</a></big></strong><br />Ruby "mendicant" Gregory Brown has launched a pay-for newsletter ($5/mo) dedicated to challenging your Ruby knowledge. Twice a month,
Greg will dig deep into one area of Ruby, issue challenges, and ignite some discussion.</p>


    <p style="margin-left: 1.5em"><strong><big><a href="http://blog.brightbox.co.uk/posts/announcing-brightbox-cloud-the-uks-first-true-iaas-platform">Brightbox Cloud in Beta: UK-based Rails Cloud Hosting</a></big></strong><br />Brightbox, the UK's biggest Rails host, has announced the beta release of "Brightbox Cloud", supposedly the UK's first true infrastructure-as-a-service platform. It's like a cross between EC2 and a typical VPS.</p>

<p><big><strong>This week's top articles</strong></big></p>

    <p style="margin-left: 1.5em"><strong><big><a href="http://drnicwilliams.com/2010/11/09/making-ci-easier-to-do-than-not-to-with-hudson-ci-and-vagrant/">Making CI easier to do than not to with Hudson CI and Vagrant</a></big></strong><br />Dr Nic Williams presents a walkthrough of getting started with the Hudson continuous integration system and using Vagrant to quickly roll out VMs on which to run the CI tests.</p>


    <p style="margin-left: 1.5em"><strong><big><a href="http://railscasts.com/episodes/239-activerecord-relation-walkthrough">ActiveRecord::Relation Screencast</a></big></strong><br />Ryan Bates presents an all new RailsCast that digs deep into the actual Rails 3 source code to look at how the new ActiveRecord querying methods work.</p>


    <p style="margin-left: 1.5em"><strong><big><a href="http://jeffkreeftmeijer.com/2010/making-rspec-stop-operation-immediately-after-failing/">Making RSpec stop operations immediately after failing</a></big></strong><br />Jeff Kreeftmeijer discovers a new feature in RSpec 2 that makes testing a lot faster if failing instantly is an option.</p>


    <p style="margin-left: 1.5em"><strong><big><a href="http://napkin.highgroove.com/articles/2010/11/09/debugging-ruby-tools">Debugging Ruby Tools</a></big></strong><br />It's a bit patchy but Jonathan Wallace has put together some basic notes from watching an Engine Yard webinar about debugging Ruby systems. He links to some tools you could find useful in the debugging process.</p>

<p><big><strong>Interesting new libraries and code</strong></big></p>

    <p style="margin-left: 1.5em"><strong><big><a href="https://github.com/kyleburton/jrclj">jrclj - A JRuby to Clojure Bridge</a></big></strong><br />Clojure is a rapidly growing functional programming language for the JVM, and jrclj is designed to make your life easier if you want to call Clojure code from your Ruby code running on JRuby.</p>


    <p style="margin-left: 1.5em"><strong><big><a href="https://github.com/flyerhzm/switch_user">switch_user - Convenient User Switching in Rails</a></big></strong><br />switch_user provides a convenient way to switch the current user session so that you don't waste your time to logout, login and input email (login) or passwords. It can also help you reproduce user specific errors in production.</p>


    <p style="margin-left: 1.5em"><strong><big><a href="https://github.com/blahed/frank">Frank - A new static site builder</a></big></strong><br />Frank is a new static site builder, in a similar vein to nanoc. Inspired by Sinatra, it lets you build static sites using your favorite Ruby libraries. Using Tilt, it comes with support for Haml, Sass, LESS, Builder, ERb and Liquid out of the box.</p>


    <p style="margin-left: 1.5em"><strong><big><a href="https://github.com/rafmagana/dooby">dooby - A Simple CLI To-Do Manager</a></big></strong><br />Dooby is a simple command-line to-do/note list manager built in Ruby. Besides being a handy tool on its own, the source is worth browsing if you want to learn how to put together a basic but well structured CLI app.</p>

<p><big><strong>Ruby Jobs of the Week</strong></big></p>

    <p style="margin-left: 1.5em"><strong><big><a href="http://hire.jobvite.com/CompanyJobs/Careers.aspx?nl=1&k=Job&j=oGnqVfw8&s=Ruby_Inside">Senior Software Engineer at LinkedIn</a></big></strong><br />You've heard of LinkedIn, the business-oriented social network, right? They're looking for a senior software engineer
  with a combination of JRuby, Sinatra, J2EE and SQL experience.</p>


    



</td></tr></table>

</body>
</html>
